# Secrets & Credentials
google-credentials.json
.env
.env.*
*.json.user
appsettings.Production.json
appsettings.Local.json

# Build & System outputs
bin/
obj/
.vs/
.idea/
*.db
*.db-shm
*.db-wal
node_modules/
dist/
